@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Ahom&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
    Aqui está o link de importação das fontes usadas no site.
*/
@media screen and (max-width: 845px) {   
    header {
    flex-direction: column;
    align-items: center;
    align-content: center;
    }

    #logo-header img {
        width: 100%;
    }

    #nav-header {
        font-size: 16px;
    }

    .img-auxiliar {
    display: none;
    }

    .info {
    width: 450px;
    padding: 8px;
    line-height: 45px;
    }

    #gato-deus {
    display: none;
    }

    #mapa {
        width: 350px;
    }
    /* 
        Aqui está a estilização de responsividade do site, que começa apartir dos 845px.
        Nele nós alteramos o Header para que a imagem e o menu, fique um abaixo do outro, também diminuimos a font do menu, tiramos a visibilidade do gato laranja e diminuimos o tamnho do conteudo "main".
        Tiramos a imagem do gato-deus, que está na pagina about-us e diminuimos o tamanho do mapa que está no contato. Fazendo o site "caber" em telas menores.
    */
}

@media screen and (max-width: 500px) {
    #mapa {
        width: 250px;
    }

    #nav-header {
        font-size: 12px;
        margin-top: 10px;
    }

    .info {
        width: 350px;
        padding: 8px;
        line-height: 45px;
    }
    /* 
        Essa estilização é para quando usamos telas ainda menores, criei ela, pois ao tentar abrir o site no meu celular ele estava ficando com o ultimo item do menu em baixo dos demais.
    */
}

:root {
    --cor0:white;
    --cor1:#f2e4a3;
    --cor1-1:#F4D85A;
    --cor2:#ffc7c8;
    --cor2-2:#FF7A7D;
    --cor3:#bcf7f3;
    --cor4:#534842;
    --cor5:#27221f;
    --corFundoTransp: #bcf7f362;

    --fontePadrao: 'Poppins', sans-serif;
    --fonteDestaque: 'Noto Serif Ahom', serif;
    --fonteTitulos: 'Roboto', sans-serif;
    /* 
        Criei essas regras, para facilitar a modificação posterior das cores, fontes do site, dessa forma, posso simplesmente mudar aqui, que será mudado em todos lugares que usam a regra.
    */
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    /* 
        Usei essas regras gerais, para que por padrão, nada tenha margem, nem padding, e usamos o box-sizing para que apesar de eu colocar alguma margem/padding, o tamanho total do elemento não seja modificado.
    */
}
body {
    font-family: var(--fontePadrao);
    /* 
        Fonte padrão da parte "body" do site. Essa fonte está na regra que foi criada acima.
    */
}

#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor1-1));
    padding: 10px;
    /* 
        Estilizado com display=flex para poder estilizar de forma mais facil os seus "filhos", no caso a logo com o menu. Usado align-items e justify-content para alinha-los e criar um espaço entre eles, respectivamente.
        Além disso, foi apenas colocado um fundo com gradiente, usando cores da regra, e um padding para o conteudo não ficar grudado nas bordas.
    */
}

#logo-header {
    width: 50%;  
    /* 
        Usado para que a div#logo-header, que está a logo mantenha sempre 50% da largura do cabeçalho.
    */ 
}

#logo-header a {
    text-decoration: none;
    color: var(--cor5);
    font-family: var(--fonteDestaque);
    font-size: 1.2em;
    /* 
        Estilização das âncoras que estão no #logo-header, retirando o "sublinado" com o text-decoration, mudando a cor para a cor5 da regra, a fonte e o tamanho
    */
}

#nav-header a {
    padding-right: 30px;
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    /* 
        Estilizando as âncoras do #nav-header (menu) dando padding-right para que elas tenham uma distancia uma da outra, cor de texto, retirando o sublinhado, mudando o tamanho da fonte, e usando posição relativa para que ela fique em sua posição original, sem afetar o posicionamento de outros elementos da página (usado para que possamos fazer o efeito da barrinha no hover)
    */
}
#nav-header a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(to right, var(--cor5), var(--cor4));
    position: absolute;
    top: 22px;
    left: 1px;
    transition: width 0.5s;
    border-radius: 5px;
    /* 
        Estilização dos links do menu ao passar o mouse por cima, usando o position absolute, com top e left, para fazer o efeito da barrinha ao passar o mouse por cima.
    */
}
#nav-header a:hover::after {
    width: 35px;
    /* 
        largura final da barrinha, usado after para que ela cresça após o link ser selecionado.
    */
}

main {
    background: white url('../imagens/fundo.png') no-repeat fixed center;
    background-size: cover;
    padding-bottom: 100px;
    /* 
        Estiliza;'ao da imagem de fundo, usando propriedades background para dar um efeito de "paralax"
    */
}

main a {
    text-decoration: none;
    color: var(--cor2-2);
    font-weight: bold;
}
main p {
    padding: 20px;
    text-align: justify;
    line-height: 2;
}
main a:hover {
    color: #ff494c;
    text-decoration: underline;
}
.subtitulo-home {
    margin: auto;
    text-indent: 30px;
    /* 
        text-ident usado para dar uma "margem" no primeiro paragrafo do texto
    */
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
}
.bv-resgatar  h1{
    font-family: var(--fonteTitulos);
    font-size: 4em;
    line-height: 50px;
}
.bv-resgatar h2 {
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    text-indent: 10px;
}

.info {
    max-width: 700px;
    margin: auto;
    background-color: var(--corFundoTransp);
    border-radius: 25px 0px 25px 0px;
    font-size: 1.1em;
    margin-top: 35px;
    padding-bottom: 70px;
    padding-top: 30px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.288);
}
.lista-home {
    list-style: circle;
    list-style-position: inside;
    /* 
        Estilizando as "bolinhas" da lista e fazendo com que elas fiquem dentro do conteudo, e não fiquem vazando para fora
    */
}
.lista-home > li{
    margin: auto;
    max-width: 600px;
    padding-top: 30px;
}
.img-auxiliar-2 img {
    max-width: 600px;
    margin: auto;
    display: flex;
}
form {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: var(--fontePadrao);
}

form h2 {
    color: var(--cor5);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    color: var(--cor5);
    font-weight: bold;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--cor2-2);
    color: var(--cor0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: var(--cor5);
    color: var(--cor2-2);
}

input, textarea:focus {
    outline: none;
}

@media (max-width: 576px) {
    form {
      width: 95%;
    }
}

/* 
    Estilizando de todo o formulário, mudando apenas coisas simples, como background-color, font, color, adicionando/modificando bordas etc.
*/

.doacao {
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    font-family: var(--fonteTitulos);
    font-size: 1.1em;
    /* 
        cursor pointer para ao passar o mous epor cima aparecer a "mãozinha", background-color transparente para que fique sem fundo.
    */
}

.card {
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: white;
    /* 
        Display none para o card ficar oculto. (usamos o javascript para poder faze-lo aparecer.
    */
  }
  
.card img {
    max-width: 100%;
  }
  
.card h3 {
    font-size: 24px;
    margin: 10px 0;
  }
  
.card li {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  
.hiden-card {
    display: inline-block;
    padding: 8px 16px;
    background-color: var(--cor2-2);
    color: var(--cor0);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }

.hiden-card:hover {
    background-color: var(--cor5);
    color: var(--cor2-2);
  }

#mapa {
    display: flex;
    margin-bottom: 20px;
    max-width: 350px;
}

footer {
    background-color: var(--cor1-1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.514);
    color: var(--cor5);
    text-align: center;
    width: 100%;
    position: absolute;
    flex-direction: row;
    padding-top: 10px;
}

.botoes-footer button {
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    background-image: linear-gradient(45deg, var(--cor2), var(--cor2-2));
    border-radius: 8px;
    border-width: 1px;
    color: var(--cor0);
    cursor: pointer;
    margin-right: 20px;
}

footer p {
    margin-bottom: 10px;
}

button {
    border: none;

}

button i {
    font-size: 30px;
}

.rede-social a{
    color: var(--cor0);
    align-items: center;
    align-content: center;
}
.rede-social a:hover {
    color: var(--cor2-2);
}

.botoes-footer button:hover {
    background-image: linear-gradient(45deg, var(--cor4), var(--cor5));
}

